.content {
	max-width: 1024px;
}

.tabbable {
    margin: 10px;
    height: 300px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.nav-tabs {
    margin: 0;
}

.tab-content {
    height: 100%; 
    border-left: 1px solid #ccc ; 
    border-right: 1px solid #ccc;
    padding: 10px;
}